@import "tailwindcss";

@layer base {
    :root {
        --color-brand: #F96162; /* ✅ Tailwind에서 사용할 brand 색상 */
    }
}


/* ✅ Tailwind 유틸리티 클래스로 brand 색상 추가 */
@layer utilities {
    .text-brand {
        color: var(--color-brand);
    }
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply flex flex-col items-center;
}

#root {
    @apply w-full max-w-screen-2xl;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

